@use '@angular/material' as mat;
@import '../../../styles';

.add-new {
  .add-new-title {
    color: map-get(mat.$gray-palette, 200);
  }

  .add-new-description {
    color: map-get(mat.$gray-palette, 600);
    font-size: .8rem;
  }
}

@media (min-width: 901px) {
  .add-new {
    margin: 2rem 1.5rem 0;
  }
}

@media (max-width: 900px) {
  .add-new {
    margin: 2rem 1.5rem 0;
  }
}

@media (max-width: 600px) {
  .add-new {
    margin: 2rem 2rem 0;
  }
}
