<div class="content">
  <div class="entry-content" *ngIf="entry">
    <div class="entry-title" [@enter1]>
      {{entry.title}}
    </div>

    <div class="entry-categories" [@enter2]>
      <mat-chip-list
        class="example-chip">
        <mat-chip
          [routerLink]="['/category']"
          [queryParams]="{ id: category.id}"
          class="example-box"
          *ngFor="let category of entry.categories">
          {{ category.name }}
        </mat-chip>
      </mat-chip-list>
    </div>

    <div class="separator" [@enter2]></div>

    <div class="entry-description" [@enter3]>
      {{entry.description}}
    </div>

    <div class="entry-actions" [@enter3]>
      <div class="back-to-home">
        <a [routerLink]="['/']">
          Vissza a főoldalra
        </a>
      </div>

      <div class="actions">
        <button mat-icon-button (click)="openShareDialog()">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </div>

    <div class="disclaimer" [@enter4]>
      <b>Hibát, vagy pontatlanságot találtál az oldalon?</b> Kérjük, írd meg nekünk a <a
      href="mailto:&#109;&#105;&#107;&#114;&#111;&#97;&#103;&#114;&#101;&#115;&#115;&#122;&#105;&#46;&#119;&#105;&#107;&#105;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#109;&#105;&#107;&#114;&#111;&#97;&#103;&#114;&#101;&#115;&#115;&#122;&#105;&#46;&#119;&#105;&#107;&#105;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a> címre.
    </div>
  </div>
</div>
