<div class="sidebar-container">
  <div class="sidebar-title">
    {{ 'sidebar.title' | translate }}
  </div>

  <a [routerLink]="['/']" class="back-to-home" (click)="linkClicked()">
    {{ 'general.backToHome' | translate }}
  </a>

  <div class="sidebar-item-container">
    @for (category of categories; track category) {
      <div class="category">
        @for (subcategory of category.children; track subcategory) {
          <a [routerLink]="[subcategory.id ? subcategory.id : '/entry']"
            [queryParams]="{ id: subcategory.id ? '' : subcategory.entryId}"
            (click)="linkClicked()"
            class="sidebar-item">
            <button>
              <div class="text">
                {{subcategory.title}}
              </div>
            </button>
          </a>
        }
      </div>
    }
  </div>
</div>
