@use '@angular/material' as mat;
@import '../../../styles';

.sidebar-container {
  font-size: .8rem;
  margin-top: 5rem;
  width: 25rem;

  .sidebar-title {
    background: #212121;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    height: 3rem;
    padding: 1.5rem 0 0 4rem;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .back-to-home {
    margin-left: .5rem;
  }

  .sidebar-item-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    .category {
      color: white;
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 1rem;
      padding: 1rem;

      .category-title {
        border-bottom: 1px solid white;
        font-size: 1rem;
        margin: .5rem;
      }
    }

    .sidebar-item {
      border: 1px solid #212121;
      background: radial-gradient(at 6% 13%, #4c2d52 0, transparent 50%), radial-gradient(at 87% 20%, #39213d 0, transparent 50%), radial-gradient(at 45% 86%, #c767d0 0px, transparent 50%);
      background-size: 40rem 30rem;
      height: 4rem;
      text-decoration: none;
      transition: background 750ms ease-in-out;
      width: 100%;

      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      &:hover {
        background-position: -10rem;
      }

      button {
        background: transparent;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        height: 100%;
        padding-right: 50%;
        text-align: left;
        transition: 0.3s;
        width: 100%;



        .text {
          align-self: center;
          color: white;
          font-size: .8rem;
          margin-left: .5rem;
        }
      }
    }
  }
}
