@use '@angular/material' as mat;
@import '../../../styles';

.sidebar-container {
  font-size: .8rem;
  margin-top: 5rem;
  width: 25rem;

  .sidebar-title {
    background: #212121;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    height: 3rem;
    padding: 1.5rem 0 0 4rem;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .back-to-home {
    margin-left: .5rem;
  }

  .sidebar-item-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    .category {
      color: white;
      margin-bottom: 1rem;
      width: 100%;

      .category-title {
        border-bottom: 1px solid white;
        font-size: 1rem;
        height: 1.5rem;
        margin: .5rem;
      }
    }

    .sidebar-item {
      height: 1rem;
      text-decoration: none;
      width: 30rem;

      button {
        background: transparent;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        height: 1.5rem;
        transition: 0.3s;
        width: 100%;

        &:hover {
          background: #4054b2;
        }

        .text {
          align-self: center;
          color: white;
          font-size: .8rem;
          margin-left: .5rem;
        }
      }

      &:nth-child(1) {
        background: map-get($my-accent, 900);
      }

      &:nth-child(2) {
        background: map-get($my-accent, 800);
      }

      &:nth-child(3) {
        background: map-get($my-accent, 700);
      }

      &:nth-child(4) {
        background: map-get($my-accent, 600);
      }

      &:nth-child(5) {
        background: map-get($my-accent, 500);
      }

      &:nth-child(6) {
        background: map-get($my-accent, 400);
      }

      &:nth-child(7) {
        background: map-get($my-accent, 300);
      }
    }
  }
}
