<div class="galery-container">
	<div class="galery-top">
		<div class="left-side">
			<h2>Galéria</h2>

			<p>
				A transznemű emberek láthatóságának hiánya és negatív képe miatt gyakran sztereotípiáknak esnek áldozatul.
			</p>
			<p>
				Ezekben a pillanatokban fontos látni, hogy olyan <b>transznemű emberek léteztek mielőttünk is, akik már elkezdték a tranzíciójukat és sikeresen boldogultak az életben</b>, ráadásul nyilvános területen is (írók, ügyvédek, képviselők, újságírók, üzletemberek stb.).
			</p>
			<p>
				Ez az oldal tiszteletet fejez ki irántuk, és lehetővé teszi számodra, hogy lássad: <b>igen, lehetséges transzneműnek lenni és pozitívan tekinteni a jövődre</b>.
			</p>
			<p>
				<b>A fotókra kattintva több infót tudhatsz meg!</b>.
			</p>
			<p>
				Még több embert találhatsz a <a href="https://w.wiki/YR2" target="_blank">nemzetközi Wikipédián</a>,
				vagy a <a href="https://w.wiki/7Mah" target="_blank">magyar Wikipédián</a>.
			</p>
		</div>

		<div class="right-side">
			<img src="assets/images/undraw_awards.svg" />
		</div>
	</div>

	<div class="galery-items">
		<div class="galery-item" *ngFor="let item of galery">
			<a href="{{ item.link }}" target="_blank" [ngStyle]="{
				'background-image': 'url(' + baseUrl + '/images/' + item.image + ')'
			}">
			</a>

			<h5>{{item.name}}</h5>

			<div class="gender">
				{{item.gender}}
			</div>

			<div class="description">
				{{ item.description }}
			</div>
		</div>
	</div>
</div>