<div class="sidebar-container">
  <button class="sidebar-item">
    <div class="icon">
      <mat-icon>church</mat-icon>
    </div>

    <div class="text">
      Vallás
    </div>
  </button>

  <button class="sidebar-item">
    <div class="icon">
      <mat-icon>public</mat-icon>
    </div>

    <div class="text">
      Rassz
    </div>
  </button>

  <button class="sidebar-item">
    <div class="icon">
      <mat-icon>wc</mat-icon>
    </div>

    <div class="text">
      Nem
    </div>
  </button>

  <button class="sidebar-item">
    <div class="icon">
      <mat-icon>people</mat-icon>
    </div>

    <div class="text">
      LMBT+
    </div>
  </button>

  <button class="sidebar-item">
    <div class="icon">
      <mat-icon>accessible</mat-icon>
    </div>

    <div class="text">
      Fogyatékossaág
    </div>
  </button>

  <button class="sidebar-item">
    <div class="icon">
      <mat-icon>cake</mat-icon>
    </div>

    <div class="text">
      Kor
    </div>
  </button>

  <button class="sidebar-item">
    <div class="icon">
      <mat-icon>domain</mat-icon>
    </div>

    <div class="text">
      Társadalmi Rang
    </div>
  </button>
</div>
