<button class="toolbar" mat-mini-fab
        color="primary" *ngIf="!isOpened" (click)="toggleSidenav()">
  <mat-icon>menu</mat-icon>
</button>

<button class="toolbar" mat-mini-fab
        color="accent" *ngIf="isOpened" (click)="toggleSidenav()">
  <mat-icon>close</mat-icon>
</button>

<mat-sidenav-container disableClose (backdropClick)="closeSidenav()">
  <mat-sidenav mode="over" fixedInViewport [opened]="isOpened">
    <app-sidebar (closing)="closeSidenav()"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
