<div class="content">
  <div class="gray-box header-card">
    <div class="header-card-content">
      <div class="logo">
        <span class="light">Mikro</span>
        <span class="normal">agresszi</span><span class="normal">.wiki</span>
      </div>

      <p>
<!--        Interaktív mini-enciklopédia <br />-->
<!--        a mikroagressziókról és azok hatásáról.-->
        Interactive mini-encyclopaedia<br />
        about microagressions, and their effects.
      </p>
    </div>
  </div>

  <div class="black-box explain-card">
    <div class="explain-card-content">
      <h3>What are microaggressions?</h3>

      <p>
      (def.) Microaggressions are everyday snubs and insults that marginalized groups face.
        They're often very subtle comments or actions that come from implicit bias
        and/or stereotypes. They might seem like a compliment (“You're beautiful
        for a transgender girl”), a harmless comment (“Where are you really from?”),
        or a subconscious action (crossing the street to avoid a racialized person).
      </p>

      <h4>How to avoid</h4>

      <p>
        Take the time to think first. Microaggressions are so subtle, you often don’t realize you’re about to cause one but that doesn’t mean you can’t prevent them.

        Pause for a moment
        Question what you want to say/do and why
        Reframe your thoughts on the bias you discovered through your questioning
      </p>

      <h4>How to respond</h4>

      <p>
        Take a second for yourself. Experiencing microaggressions can take a toll on your mental and physical health.

        Put yourself and your needs first
        Determine whether you want to respond or not
        Remember you don’t have to respond right away or at all
      </p>

      <h4>How to be accountable</h4>

      <p>
        Take a moment to breathe. Everyone has caused a microaggression at some point and it’s never an easy situation.

        Don’t ignore what’s happened
        Listen to what the person you’ve hurt has to say
        Offer a genuine apology without making excuses
      </p>

      <button class="learn-more-button" mat-raised-button color="accent">
        Learn more
      </button>
    </div>
  </div>
</div>
