<div class="content">
  <div class="trans-background header-card">
    <div class="search-section">
      <mat-form-field class="search-field">
        <mat-label>
          <mat-icon>
            search
          </mat-icon>
          
          Keresés...
        </mat-label>
        <input matInput #message (input)="searchUpdated($event)" placeholder="például: 'biszex'...">
      </mat-form-field>

      <div *ngIf="searchResults && searchResults.length" class="floating">
        <div class="item" routerLink="/entry" [queryParams]="{ id: res.fileName }" *ngFor="let res of searchResults">
          <div class="title">{{ res.title }}</div>
          {{ res.contextBefore }}<b>{{ res.match }}</b>{{ res.contextAfter }}...
        </div>
      </div>
    </div>

    <div class="header-card-content">

      <div class="home-box">
        <div class="home-box-line-welcome"
             [innerHTML]="'general.lineWelcome' | translate | utf8EmojisToImages:'apple':16"></div>
        <div class="home-box-title">{{ 'general.title' | translate }}</div>
        <div class="home-box-explain">
          {{ 'general.lineExplain' | translate }}
        </div>

        <div class="buttons">
          <a routerLink="/entry" [queryParams]="{ id: 'mikroagressziok'}">
            <button class="close-button" mat-stroked-button
                         color="primary">{{ 'general.intro' | translate }}</button>
          </a>
          <button class="close-button" mat-flat-button color="primary" (click)="sidenavToggle()">
            {{ 'general.allArticle' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
