<div class="intro-container">
  <div class="pink-container blue-color intro-base-container">
    <div class="prelude">
      A
    </div>
    <div class="title">
      transzidentitás
    </div>
    <div class="after">
      alapjai
    </div>

    <div class="subtitle">
    (5 percben!)
    </div>

    <p class="bold">
    A transzneműek aránya nyugat-európai tarsadalmakban 0,3 és 1,6% között van. Mindig is létezett, minden időben és
    minden kultúrában.
    </p>

    <p>
    Szóval valószínűleg több száz transz emberrel találkoztál már anélkül, hogy tudtad volna, hogy transzok. Ők is
      olyan emberek, mint bárki más.
    </p>

    <p>
    A transz emberek bármely életkorban, bármilyen társadalmi környezetben elkezdhetik az tranzíciót. Különösen az
      útjuk első hónapjaiban és éveiben van szükségük a támogatás(od)ra.
    </p>
  </div>

  <div class="lightgray-container blue-color dictionary-container">
    <div class="title">Ismered a fogalmakat?</div>

    <div class="block">
      <div class="image-container">
        <img src="assets/images/undraw_exciting_news.svg">
      </div>

      <div class="block-text">
        <p>
          <span class="pink-text-color">Transzneműek</span> azok, akik a születésükkor
          hozzájuk rendelt nemtől eltérő nemben élnek vagy szeretnének élni.
        </p>

        <p>
          A <span class="pink-text-color">tranzíció</span> egy hosszadalmas folyamat, amely lehetővé teszi az ember
          számára, hogy abban a nemben érvényesüljön, amellyel azonosul, és amelyben boldogulni tud.
          <br />
          <br />
          Ez magában foglalhat például új nevet, új ruhatárat, kibújást, beszédtechnikát, hormonkezelést, műtéteket
          stb.
        </p>
      </div>
    </div>

    <div class="block">
      <div class="image-container">
        <img src="assets/images/undraw_businessman.svg">
      </div>

      <div class="block-text">
        <div class="category-title pink-text-color">Transz férfi</div>
        <p>
          Olyan férfi, akit születéskor nőként soroltak be.
          <br /><br />
          Férfiként hivatkozunk rá.
        </p>
      </div>
    </div>

    <div class="block">
      <div class="image-container">
        <img src="assets/images/undraw_reading.svg">
      </div>

      <div class="block-text">
        <div class="category-title pink-text-color">Transz nő</div>
        <p>
          Olyan nő, akit születéskor férfiként soroltak be.
          <br /><br />
          Nőként hivatkozunk rá.
        </p>
      </div>
    </div>

    <div class="block">
      <div class="image-container">
        <img src="assets/images/undraw_positive_attitude.svg">
      </div>

      <div class="block-text">
        <div class="category-title pink-text-color">Nem-bináris személy</div>
        <p>
          Olyan személy, aki nem illik bele a bináris normákba, aki nem kizárólag férfi vagy kizárólag nő.
          <br /><br />
          Olyan neműként hivatkozunk rá, ahogy ő kéri.
        </p>
      </div>
    </div>

    <div class="block">
      <div class="image-container">
        <img src="assets/images/undraw_people.svg">
      </div>

      <div class="block-text">
        <div class="category-title pink-text-color">Cisznemű személy</div>
        <p>
          A cisz (vagy cisznemű) emberek olyan emberek, akik nem transzneműek. Ez az emberek többsége.
        </p>

        <p class="explain">
          <span [innerHTML]="'💡' | utf8EmojisToImages:'apple':14"></span>
          Ugyanezek a latin előnevek (cisz: "ugyanazon az oldalon" és transz: "a másik oldalon") megtalálhatók például
          Ciszjordánia és Transzjordánia szavakban is, amelyek a Jordánia két oldalán fekvő régiók.
        </p>
      </div>
    </div>

    <div class="block">
      <div class="image-container">
        <img src="assets/images/undraw_welcoming.svg">
      </div>

      <div class="block-text">
        <div class="category-title pink-text-color">Interszexuális személy</div>
        <p>
          Olyan személy, akinek egy vagy több olyan elsődleges vagy másodlagos biológiai nemi jellemzője van, amely
          nem tekinthető "tipikusan férfinek" vagy "tipikusan nőnek".
        </p>

        <p>
          A transzneműség és az interszexualitás két nagyon különböző dolog, bár vannak, akik egyszerre transz és interszexuálisak.
        </p>

        <p class="explain">
          <span [innerHTML]="'💡' | utf8EmojisToImages:'apple':14"></span>
          Az interszex nem hermafroditizmus,
          az egy olyan kifejezés, amely egyszerre helytelen és sértő.
        </p>
      </div>
    </div>
  </div>

  <div class="lightblue-container blue-color transex-or-transgender-container">
    <div class="title">
      Transz<u>nemű</u> vagy transz<u>szexuális</u>?
    </div>

    <div class="subtitle">
      <span [innerHTML]="'👉' | utf8EmojisToImages:'apple':20"></span>
      Inkább csak a "transz".
    </div>

    <p>
      Egyesek számára a transznemű és a transzszexuális közötti különbséget az jelenti, hogy nemváltoztató műtéten
      estek át. <b>Ez szükségtelen és tolakodó megkülönböztetés.</b>
  </p><p>
    Továbbá a "-szexuális" utótag a szexuális irányultságra utal. <b>A transzidentitás nem orientáció.</b>
  </p><p>
      Végül a transzszexuális kifejezést széles körben használták a transzidentitásra mint mentális patológiára való
    utaláshoz. <b>A transzidentitás nem betegség.</b>
  </p><p>
      Ennek ellenére néhányan (különösen a korábbi generációkból származó emberek) transzszexuálisnak nevezik magukat.
    <b>Tiszteld a kifejezést, de csak olyan emberekre használd, akik magukra is használják.</b>
    </p>

    <div class="subtitle margin-top">
      Használd a megfelelő keresztnevet es névmásokat
    </div>

    <p>Például: egy transznőről hímneműkent beszélni.
    </p><p>
      Még ha triviálisnak is gondolod, ez erőszakos támadás a transz személy legitimitása ellen. Korrigáld magad még
    akkor is, ha ez véletlenul történik.
  </p><p>
      Hasonlóképpen fájdalmat okozhat egy transz személynek, ha hallja a születési nevét. Jogod van hibázni. Ha
    hibáztál: javítsd ki magad mihamarabb, és próbálj meg odafigyelni a következőkben.
  </p>

    <div class="subtitle margin-top">
      Használd akkor is a megfelelő keresztnevet es névmásokat, ha a múltrol beszélsz
    </div>

    <p>
      Amikor egy transz személy gyermekkoráról beszélsz, a megfelelő keresztnevet használd, még akkor is, ha olyan
      eseményről beszélsz, amely azelőtt történt, hogy a transz személy előbújt volna, vagy mielőtt tudatában
      lett volna saját
      identitásának.
    </p><p>
      Az esetek túlnyomó többségében egy transz személy mindig transz volt; még akkor is, ha akkoriban másképp
    nézett ki.
    </p>
  </div>

  <div class="lightred-container to-avoid-container">
    <div class="pink-text-color prelude">
      Egy kis gyűjtemény, amit
    </div>
    <div class="pink-text-color title" [innerHTML]="'illik elkerülni 🙊' | utf8EmojisToImages:'apple':40">
    </div>

    <div class="sentence-container">
      <div class="sentence-block">
        <div class="sentence">
          "Hű, tényleg úgy néz ki, mint egy igazi férfi/nő!"
        </div>

        <div class="why-avoid">
          "Úgy néz ki"? Tehát ez a személy nem igazi? Az ilyen mondat mögött meghúzódó érzés biztosan kedveskedő, <b>de
          nem
          lesz pozitívan érzékelhető.</b>
        </div>
      </div>

      <div class="sentence-block">
        <div class="sentence">
          "Megműttetted már magad?"
        </div>

        <div class="why-avoid">
          A témában kevéssé jártas emberek szeretnek olyan kérdéseket feltenni, amelyek magánjellegűek.
          <b>Ez nem tartozik rád, és ha tudsz róla, tartsd meg magadnak.</b>
        </div>
      </div>

      <div class="sentence-block">
        <div class="sentence">
          "És a szüleid, hogy fogadták?"
        </div>

        <div class="why-avoid">
          Lehet, hogy <b>arra kényszeríted a másikat, hogy a rossz emlékeibe merüljon.</b>
          Ráadásul a kérdést feltevő személy egy
          zokogós történetet vár, és szinte csalódott lenne, ha nem ez lenne a helyzet...
        </div>
      </div>

      <div class="sentence-block">
        <div class="sentence">
          "Mi a régi neved?"
        </div>

        <div class="why-avoid">
          <b>Ne kérjünk információt a transz személy átmenet előtti életéről.</b>
          Ez olyan személyes információ, amelyet nem kell tudnod.
        </div>
      </div>

      <div class="sentence-block">
        <div class="sentence">
          "Szebb lett, mint volt."
        </div>

        <div class="why-avoid">
          Aki most transz, nem jelenti azt, hogy a tranzíció előtt ne lett volna szép. <b>Ne hasonlítgass.</b>
        </div>
      </div>

      <div class="sentence-block">
        <div class="sentence">
          "Látszik rajta, hogy transz".
        </div>

        <div class="why-avoid">
          Bár <b>semmi baj nincs azzal, ha valaki láthatóan transz</b>, a legtöbb transz ember inkább
          "szeretne elvegyülni".
          <br />
          A transz emberek állandó emlékeztetése arra, hogy transznak néznek ki, erkölcsileg sértő és szociális
          szorongást kelt.
        </div>
      </div>
    </div>

    <div class="explain">
      <p>
      Hibákat fogsz elkövetni: minden ember, bármilyen jóindulatú is, elkövethet hibákat, különösen az ha friss
        információ ez neki.
      </p><p>
      Kérj bocsánatot, javítsd ki magad, és mindenekelőtt ne sértődj meg, ha kijavítanak.
    </p>
    </div>

    <div class="sub-explain">
      <span [innerHTML]="'💡' | utf8EmojisToImages:'apple':14"></span>
      <b>Tipp (ami a cisz emberek számára is működik):</b> ahelyett, hogy megítélnéd valakinek a külsejét,
        dicsérd meg a ruháját, az önbizalmát, a sminkjét, az iskolai vagy munkahelyi képességeit....
    </div>
  </div>

  <div class="lightblue-container dysphoria-container">
    <div class="block">
      <div class="image-container">
        <img src="assets/images/undraw_thoughts.svg" />
      </div>
      <div class="block-text">
        <div class="title">
          Mi az a nemi diszfória?
        </div>
      <p>
      A nemi diszfória (szemben a nemi eufóriával) megnyilvánulhat olyan személyes érzésként, hogy eltérés van a:
      </p>
      <ul>
        <li>a születéskor kijelölt nem;</li>
        <li>a személy társadalom által érzékelt neme; és</li>
        <li>és a saját identitás érzékelése között.</li>
      </ul>
      <p>
        Ezek az eltérések az <b>önképpel való disszociációhoz vezethetnek</b>, ami mindennapos kellemetlenségekhez vezethet.
      </p><p>
      A diszfória csökkentésének <b>egyetlen ismert módja a tranzíció.</b>
    </p>

      <p class="explain">
        <span [innerHTML]="'👌' | utf8EmojisToImages:'apple':14"></span>

        Nem kell diszfóriát tapasztalni ahhoz, hogy transznak érezzük magunkat, és hogy ez sokféle formát ölthet az egyéntől függően.
    </p>
    </div>
    </div>
  </div>

  <div class="lightgray-container detransition-container">
    <div class="block">
      <div class="image-container">
        <img src="assets/images/undraw_having_fun.svg" />
      </div>
      <div class="block-text">
        <div class="title">
          "Ez majd elmúlik." <span [innerHTML]="'👉' | utf8EmojisToImages"></span> Hamis
        </div>

        <div class="subtitle pink">
          A transz emberek
        </div>

        <div class="number pink">
          99.6%-a
        </div>

        <div class="subtitle pink">
          nem "gondolja meg magát", miután elkezdte a tranzíciót
        </div>
      </div>
    </div>
    <div class="content">
      <p>
        Egy 2015-ben az Egyesült Államokban 3000, minden korosztályból származó transznemű ember körében végzett vizsgálat során az átváltozók 0,4%-a jött rá utólag, hogy nem is transznemű (3000 emberből 12).
      </p><p>
      <b>Az eredmények azt mutatják, hogy azok a transzneműek, akik elég magabiztosak ahhoz, hogy kibújjanak, idővel
        túlnyomórészt felelősséget vállalnak ezért a döntésükért.</b>
    </p><p>
      Ráadásul a 0,4%-os átmenet megszüntetésének fele egyszerűen <b>ideiglenes volt a transz emberek esetében, akik
      vártak, amíg kedvezőbb környezetbe kerülnek</b> (amikor az eredet külső nyomás volt), hogy elkezdjék a tranzíciót.
    </p>

      <p class="explain">
        <span [innerHTML]="'🤷‍♀️' | utf8EmojisToImages"></span>
        És még ha egy transz személy utólag meg is gondolja magát, az sem nagy dolog, még több hónapos hormonkezelés
        után is a legtöbb változás visszafordítható. <b>Ez is az élet része!</b>
      </p>
    </div>
  </div>

  <div class="lightblue-container remains-visible-container">
    <div class="block">
      <div class="block-text">
        <div class="title">
          "Évek múlva is látszani fog, hogy transz vagy." <span [innerHTML]="'👉' | utf8EmojisToImages"></span> Hamis
        </div>

        <div class="subtitle blue">
          A transz emberek
        </div>

        <div class="number blue">
          88%-a
        </div>

        <div class="subtitle blue">
          számol be arról, hogy nem vagy nagyon ritkán látják "transznak" őket
        </div>

      </div>
      <div class="image-container">
        <img src="assets/images/undraw_group_selfie.svg" />
      </div>

    </div>

    <div class="content">
      <p>
        <b>A legtöbb transz ember átmegy egy "köztes" szakaszon</b>, amely néhány hónaptól néhány évig tarthat, és amely
        során több erőszakot tapasztalhatnak, mivel transzként jobban láthatóak.
      </p><p>
      De néhány év elteltével a <b>legtöbb transz embert a mindennapi életben cisz férfiként/nőként érzékelik</b> es
      kezelik.
    </p>
    </div>
  </div>

  <div class="black-box brochures-container">
    <div class="title">
      Töltsd le brosúráinkat
    </div>

    <div class="subtitle">
      Nyomtatásra tervezték,<br />
      a kibújás kísérőjeként.
    </div>

    <div class="recommendation-items">
      <a [routerLink]="'/entry'"
         [queryParams]="{ id: 'brosura-10-tevhit-a-transzidentitasrol'}">
        <div class="recommendation-item">
          <h4>❌ 10 tévhit a transzidentitásról</h4>
          <span>Bevezető a transzidentitásról, transz fiatalok szülei számára.</span>
        </div>
      </a>

      <a [routerLink]="'/entry'"
         [queryParams]="{ id: 'brosura-hormonok-kitoltheto-utmutato'}">
        <div class="recommendation-item">
          <h4>💊 Hormonok</h4>
          <span>Bõvebben a kitölthetõ útmutatókról + Letöltés</span>
        </div>
      </a>

      <a [routerLink]="'/entry'"
         [queryParams]="{ id: 'brosurak'}">
        <div class="recommendation-item">
          <h4>📚 További brosúrák, kiadványok</h4>
          <span></span>
        </div>
      </a>
    </div>
  </div>
</div>
