@use '@angular/material' as mat;
@import '../../../styles';

.intro-container {
  .pink-container {
    background-color: #eeb8c5;
  }

  .lightgray-container {
    background-color: #ffefea;
  }

  .lightblue-container {
    background-color: #F6FCFF;
  }

  .lightred-container {
    background-color: #FFF4F9;
  }

  .lightyellow-container {
    background-color: #FFF8DD;
  }

  .midblue-container {
    background-color: #BDEBFF;
  }

  .darkblue-container {
    background-color: #4054B2;
  }

  .blue-color {
    color: #122167;
  }

  .pink-text-color {
    color: #eb387d;
    font-weight: bold;
  }

  p.explain {
    font-size: 1rem;
  }

  .block {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto 2rem;

    img {
      text-align: center;
    }

    .block-text {
      .category-title {
        font-size: 1.5rem;
      }

      p {
        &:not(.explain) {
          font-size: 1.2rem;
        }
      }
    }
  }

  .intro-base-container {
    background-image: url('/assets/images/trans-hand.jpg');
    background-repeat: no-repeat;
    padding: 2rem 30vw 2rem 10vw;

    .prelude, .after {
      font-size: 2rem;
    }

    .title {
      font-weight: bold;
      font-size: 3rem;
    }

    .subtitle {
      font-style: italic;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 2rem;
    }
  }

  .dictionary-container {
    padding: 2rem;

    .title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  .transex-or-transgender-container {
    padding: 2rem 10vw;

    .title {
      font-weight: bold;
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    .subtitle {
      font-weight: bold;
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    .margin-top {
      margin-top: 2rem;
    }
  }

  .to-avoid-container {
    padding: 2rem 10vw;

    .title, .prelude {
      text-align: center;
    }

    .title {
      font-size: 3rem;
    }

    .prelude {
      font-size: 1.8rem;
    }

    .sentence-container {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: space-between;
      margin-top: 2rem;

      .sentence-block {
        margin-bottom: 2rem;

        .sentence {
          background: white;
          border: 1px solid #eb387d;
          box-shadow: 5px 5px 0 0 #FFCADE;
          color: #eb387d;
          font-weight: bold;
          margin-bottom: 1rem;
          padding: 1rem;
          transform: rotate(-1.5deg);
        }

        .why-avoid {
          color: #4054b2;
        }
      }
    }

    .explain {
      color: #4054b2;
      font-size: 1.4rem;
      font-weight: bold;
      text-align: center;
    }

    .sub-explain {
      color: #4054b2;
      text-align: center;
    }
  }

  .dysphoria-container {
    color: #4054b2;
    padding: 2rem 10vw;

    .block {
      .title {
        color: #2770f1;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }
  }

  .detransition-container {
    padding: 2rem 10vw;

    .block {
      .title {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }

      .subtitle {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .number {
        font-size: 2rem;
        font-weight: bold;
      }

      .pink {
        color: #eb387d;
      }
    }

    .content {
      margin-top: 1rem;
    }
  }

  .remains-visible-container {
    color: #4054b2;
    padding: 2rem 10vw;

    .block {
      .title {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }

      .subtitle {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .number {
        font-size: 2rem;
        font-weight: bold;
      }

      .blue {
        color: #4054b2;
      }
    }

    .content {
      margin-top: 1rem;
    }
  }

  .brochures-container {
    color: white;
    padding: 2rem 10vw;

    .title {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }

    .subtitle {
      text-align: center;
    }

    .recommendation-items {
      gap: 1rem;
      grid-auto-rows: 1fr;
      margin-top: 1rem;

      a {
        display: flex;
      }

      .recommendation-item {
        border: 2px solid $pink-color;
        box-shadow: 5px 5px $pink-light-color; //#FFCADE;
        background: white;
        padding: 1rem;



        img {
          width: 4rem;
        }

        h4 {
          color: #262929;
          font-size: 1.3rem;
          font-weight: 500;
          margin-bottom: .5rem;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .block {
    flex-direction: column;

    .image-container {
      flex-grow: 1;
      order: 1;
      text-align: center;

      img {
        height: 20vh;
      }
    }

    .block-text {
      order: 2;
      width: 100%;

      .category-title, p {
        margin-top: 1rem;
      }
    }
  }

  .intro-base-container {
    background-size: cover;
    background-position: 40vw;
  }

  .to-avoid-container {
    .sentence-container {
      .sentence-block {
        width: 100%;
      }
    }
  }

  .dysphoria-container, .detransition-container, .remains-visible-container {
    .block {
      .title {
        margin-top: 1rem;
      }
    }
  }

  .recommendation-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .block {
    flex-direction: row;
    justify-content: space-between;

    .image-container {
      flex-grow: 1;
      text-align: center;

      img {
        height: 20vh;
      }
    }

    .block-text {
      margin: 0 1rem;
      width: 55vw;

      .category-title, p {
      }
    }
  }

  .intro-base-container {
    background-size: cover;
    background-position: 40vw;
  }

  .to-avoid-container {
    .sentence-container {
      .sentence-block {
        width: 45%;
      }
    }
  }

  .dysphoria-container, .detransition-container, .remains-visible-container {
    .block {
      .title {
        margin-top: 1rem;
      }
    }
  }

  .brochures {
    display: grid;
    margin-top: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;

    a {
      display: flex;
    }
  }

  .recommendation-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 901px) {
  .dictionary-container {
    img {
      width: 30vh;
    }
  }

  .dysphoria-container, .detransition-container, .remains-visible-container {
    img {
      height: 45vh;
    }
  }

  .block {
    flex-direction: row;
    justify-content: space-between;

    img {

      padding: 0 5vw;
    }

    .block-text {
      width: 45vw;
    }
  }

  .intro-base-container {
    background-size: contain;
    background-position: 68vw;
  }

  .to-avoid-container {
    .sentence-container {
      .sentence-block {
        width: 45%;
      }
    }
  }

  .recommendation-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
