<div class="content">
  <div class="category-card">
    <div class="category-card-content">
      <div class="category-card-side-content">
        <div class="back-to-home">
          <a [routerLink]="['/']">
            {{ 'general.backToHome' | translate }}
          </a>
        </div>

        <div class="category-card-title">
            {{categoryTitle}}
        </div>

        <div class="category-card-description">
           {{categoryDescription}}
        </div>

        <app-add-new-entry></app-add-new-entry>
      </div>

      <div class="category-card-result-set">
        <app-entry-preview-item [entry]="entry"
          [@enter1]="{ value: '', params: { delay: i * 300 } }"
          *ngFor="let entry of entries; let i = index"
          ></app-entry-preview-item>
      </div>
    </div>
  </div>
</div>
