@use '@angular/material' as mat;
@import '../../../styles';

.content {
  .category-card-content {
    display: flex;
    justify-content: space-between;
    min-height: 90vh;

    @media (min-width: 601px) {
      flex-direction: row;
    }

    @media (max-width: 600px) {
      flex-direction: column;
    }

    a {
      color: map-get(mat.$gray-palette, 500);
    }

    .category-card-side-content {
      background: map-get(mat.$gray-palette, 900);
      padding-top: 5rem;


      @media (min-width: 601px) {
        width: 15rem;
      }

      @media (max-width: 600px) {
        width: 100%;
        padding-bottom: 2rem;
      }

      .back-to-home {
        margin-bottom: 1rem;

        a {
          font-size: .8rem;

          @media (min-width: 601px) {
            margin-left: 1.5rem;
          }

          @media (max-width: 600px) {
            margin-left: 2rem;
          }
        }
      }

      .category-card-title {
        color: map-get(mat.$gray-palette, 200);
        font-family: Merriweather;
        font-size: 1.8rem;
        margin-bottom: 2vh;
        text-transform: uppercase;

        @media (min-width: 601px) {
          margin-left: 1.5rem;
        }

        @media (max-width: 600px) {
          margin-left: 2rem;
        }
      }

      .category-card-description {
        color: map-get(mat.$gray-palette, 600);
        font-size: .8rem;
        margin: 0 1.5rem;

        @media (min-width: 601px) {
          margin: 0 1.5rem;
        }

        @media (max-width: 600px) {
          margin: 0 2rem;
        }
      }

      .add-new {
        @media (min-width: 601px) {
          margin: 2rem 1.5rem 0;
        }

        @media (max-width: 600px) {
          margin: 2rem 2rem 0;
        }

        .add-new-title {
          color: map-get(mat.$gray-palette, 200);
        }

        .add-new-description {
          color: map-get(mat.$gray-palette, 600);
          font-size: .8rem;

        }
      }
    }

    .category-card-result-set {
      display: flex;
      flex-flow: wrap;
      justify-content: flex-start;

      @media (min-width: 601px) {
        width: calc(100% - 17rem);
      }

      @media (max-width: 600px) {
        width: calc(100%);
      }


      mat-card {
        border-radius: 0;
        background: map-get(mat.$gray-palette, 200);
        cursor: pointer;
        padding: 1.5rem;


        mat-card-title {
          font-family: Merriweather;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 2.5rem;
        }

        mat-card-actions {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
        }

        .separator {
          background: map-get(mat.$gray-palette, 400);
          height: 1px;
          margin-bottom: 1.5rem;
          width: 100%;
        }

        .card-content {
          color: map-get(mat.$gray-palette, 700);
          font-size: .8rem;
          overflow: hidden;
          position: relative;
          height: 5rem;

          .content-fade-out {
            background: linear-gradient(180deg, transparent 0%, map-get(mat.$gray-palette, 200) 100%);
            position: absolute;
            bottom: 0;
            height: 3rem;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 601px) {
  .category-card-result-set {
    margin: 1.5rem 0;

    mat-card {
      height: 17rem;
      margin-bottom: 1rem;
      margin-right: 1rem;
      width: 12rem;
    }
  }
}

@media (max-width: 600px) {
  .category-card-result-set {
    margin: 1.5rem 0 0;

    mat-card {
      height: 14rem;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}
