<div class="content">
  <div class="category-card">
    <div class="category-card-content">
      <div class="category-card-side-content">
        <div class="back-to-home">
          <a [routerLink]="['/']">
<!--            Vissza a főoldalra-->
            Back to Home
          </a>
        </div>

        <div class="category-card-title">
            {{categoryTitle}}
        </div>

        <div class="category-card-description">
           {{categoryDescription}}
        </div>

        <div class="add-new">
          <div class="add-new-title">
            <!--Hiányzik valami?-->
            Something is missing?
          </div>

          <div class="add-new-description">
            You can add new entries <a href="https://link.adena.dev/mawform">by filling out this form</a>.
            <!--<a href="https://link.adena.dev/mawform">Ezen az űrlapon</a> hozzáadhatsz új bejegyzést.-->
          </div>
        </div>
      </div>

      <div class="category-card-result-set">
        <mat-card
          [routerLink]="['/entry']"
          [queryParams]="{ id: entry.id}"
          *ngFor="let entry of entries">
          <mat-card-title>
            {{ entry.title }}
          </mat-card-title>

          <div class="separator"></div>

          <div class="card-content">
            <div>{{ entry.description }}</div>

            <div class="content-fade-out"></div>
          </div>



          <mat-card-actions>
            <button mat-icon-button>
              <mat-icon>call_made</mat-icon>
            </button>
          </mat-card-actions>

        </mat-card>
      </div>
    </div>
  </div>
</div>
