<div class="content">
  <div class="more-info-item">
    <div class="title">
      What are microaggressions?
    </div>

    <p>(def.) Microaggressions are everyday snubs and insults that marginalized groups face. They're often very subtle comments or actions that come from implicit bias and/or stereotypes. They might seem like a compliment (“You're beautiful for a transgender girl”), a harmless comment (“Where are you really from?”), or a subconscious action (crossing the street to avoid a racialized person).

      Microaggressions can be intentional or unintentional, and are both a product of stereotypes/biases, while simultaneously perpetuating them. They can hurt one's feelings, diminish one's self-confidence, impact one's mental health, etc. Microaggressions also have macro-level impacts. The act of constantly and openly perpetuating stereotypes and putting someone down can reinforce barriers in one's life (including in the workplace, when accessing leadership roles, and others).

      No two people or experiences are the same. Some may find that many different categories apply to them when it comes to their experiences with microaggressions.</p>
  </div>

  <div class="more-info-item">
    <div class="title">
      How do I address microaggressions?
    </div>

    <p>Whether you’ve observed, received, or delivered a microaggression, the situation is uncomfortable. But it doesn’t have to stay that way. The tips below will give you the tools to help better navigate the microaggression.</p>
  </div>

  <div class="black-box">
    <div class="more-info-panel">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How to avoid
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>What to do to avoid causing a microaggression.
          When you meet someone new, your brain instinctively begins to categorize the person and notice differences. It’s when our brains get “stuck” in these differences that microaggressions happen. Here are some helpful tips to avoid getting stuck.</p>

        <p>1. PAUSE
          Don’t be in a rush to speak or act. Pause before asking someone a personal question. Pause before you describe a person’s personality a certain way. Pause before you make a comparison between someone and something else you’ve seen. These simple thoughts and moments are where bias lives so taking a second to think about it makes all the difference.

          2. QUESTION
          Ask yourself these important questions. Is your brain getting stuck on differences that you’re noticing? Are they triggering things that you subconsciously believe? Are you making assumptions because of these beliefs? What will the person I’m interacting with feel or think when I say or do this? Awareness of our own bias comes when we answer these questions for ourselves.

          3. REFRAME
          See the bigger picture. Sit in the uncomfortableness of your questions. List the things you can do to change your thoughts and behaviours. This could include researching other cultures and the history of certain phrases to acknowledging the systems that give you privilege to removing offensive phrases from your vocabulary one by one. Stop your defensive thoughts. Acknowledge that you can cause microaggressions, but it doesn’t make you a bad person. Unlearning bias won’t happen overnight.</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How to respond
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>What to do when you’ve received a microaggression.
          There is no single correct way to respond to microaggressions, but here are some helpful tips from researchers to consider.</p>

        <p>1. DETERMINE
          Do you respond? You don’t have to. Addressing a microaggression takes effort and you’re not obliged to do it. Is the person important to you? Will speaking up or staying silent have consequences? Think about how you feel and whether the effort is worth it for you.

          2. DISARM
          How do you have this conversation? You may need to help that person through the process. When people are called out, it’s in their nature to feel defensive. Help them understand that these kinds of conversations can be uncomfortable for everyone but that it’s worth it to you both to openly discuss it.

          3. DEFY
          What if you asked for clarification? One of the best ways to get people thinking about what they said or did is to ask them to clarify what they meant by it. That opens the door for you to discuss intent vs. impact and help them understand how their bias affects their thoughts and actions.

          4. DECIDE
          What can you control? It won’t be what people say/do to you, but you can control what you take from the situation and what it takes from you. Protecting your happiness and who you are is the most important thing.</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How to be accountable
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>What to do when you’ve caused a microaggression.
        Take a moment to breathe. Everyone has caused a microaggression at some point and it’s never an easy situation.</p>

      <p>1. PAUSE
        Take a moment to breathe. You may be feeling stress, embarrassment and defensive, but don’t let that dictate how you respond. Your mistake doesn’t make you a bad person. If someone has called you out, it means they care enough or trust that you can do better.

        2. LISTEN
        Make this your priority. Be open to what the person you’ve harmed is telling you and make sure they feel heard. Think of this conversation as a chance to start over. Someone is giving you the opportunity to learn, grow, and be better.

        3. APOLOGIZE
        Try not to be defensive. Be sincere. Your apology should address the harmful comment / action, acknowledge the impact it had, and include a commitment to do better. Never say, “I’m sorry you felt offended.” – it doesn’t count!

        4. LEARN
        Do the work. Learn about implicit bias and the impact of microaggressions. Understand that you aren’t the first to cause harm to this person. The more you know, the less likely you are to make the mistake again.</p>
    </mat-expansion-panel>
    </div>
  </div>
</div>
