<div class="black-box content">
  <div class="footer-content">
    <div class="mini-logo">
      <span class="light">Mikro</span>
      <span class="normal white">agresszi.wiki</span>
    </div>

    <div class="idea-from">
<!--      A <a href="http://themicropedia.org">The Micropedia</a> ötlete alapján.-->
      Based on the idea of <a href="http://themicropedia.org">The Micropedia</a>.
    </div>

    <div class="links">
      <div class="link-title">
        <!--Itt érhetsz el minket:-->
        Find us at:
      </div>

      <div class="link-list">
        <a href="https://link.adena.dev/mawpt">
          <fa-icon [icon]="faPatreon"></fa-icon>
        </a>

        <a href="https://link.adena.dev/ghmaw">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>

        <a href="https://discord.gg/4FJkVFvYmu">
          <fa-icon [icon]="faDiscord"></fa-icon>
        </a>

        <a href="https://link.adena.dev/contact">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
