<div class="dark-black-box content">
  <div class="section first">
    <p><a href="https://????.hu">Mikroagresszió Wiki - ????.hu</a></p>

    <p>Házigazda: <a href="https://adena.dev" target="_blank">Muráncsik Adéna Auróra</a> <span [innerHTML]="'🧿' | utf8EmojisToImages:'apple':20"></span></p>

    <p>Grafika <a href="http://undraw.co" target="_blank">Undraw.co - Katerina Limpitsouni</a> jóvoltából.</p>

    <p>
    Támogatás:
    <br />
    <a href="https://www.patreon.com/egytranszpodcast" target="_blank">😄 Patreon</a>
    <br />
    <a href="https://www.ko-fi.com/egytranszpodcast" target="_blank">😄 Ko-Fi</a>
    </p>
  </div>

  <div class="section second">
    <p>Kapcsolat: <a href="mailto:????@gmail.com">????@gmail.com</a> 👋</p>

    <p>vagy Instagramon <a href="https://www.instagram.com/????/">@????</a>.</p>

    <p>A <i>Mikroagresszió Wiki</i> egy tájékoztató oldal a mikroagressziókkal kapcsolatban.
    <br /><br />
    Ha új neked a téma:
    <br /><a routerLink="/intro">➡ A mikroagresszió alapjai 5 percben 📚</a></p>
  </div>

  <div class="section third">
    <p>Társoldalak:</p>

    <p>
    <a href="http://genderutikalauz.hu" target="_blank"
      [innerHTML]="'➡ Gender Útikalauz' | translate | utf8EmojisToImages:'apple':16"></a>
    <br />

    <p>
    <a href="http://genderdysphoria.fyi/hu" target="_blank"
      [innerHTML]="'➡ Nemi Diszfória Biblia, magyarul' | translate | utf8EmojisToImages:'apple':16"
    ></a>
    <br />

    <p>
    <a href="http://1tpc.hu" target="_blank"
      [innerHTML]="'➡ Egy Transz Podcast. - http://1tpc.hu' | translate | utf8EmojisToImages:'apple':16"></a>
    <br />
  </div>
</div>
