<div class="content">
  <div class="gray-box header-card">
    <div class="header-card-content">
      <div class="header">
        <span class="light">Mikro</span>
        <span class="normal">agresszió</span>
      </div>

      <p>
        Tekintsd át ezt a mini-enciklopédiát, <br />
        hogy többet megtudhass a mikroagressziókról és azok hatásáról.
      </p>
    </div>
  </div>

  <div class="black-box explain-card">
    <div class="explain-card-content">
      <h3>What are microaggressions?</h3>

      <p>
      (def.) Microaggressions are everyday snubs and insults that marginalized groups face.
        They're often very subtle comments or actions that come from implicit bias
        and/or stereotypes. They might seem like a compliment (“You're beautiful
        for a transgender girl”), a harmless comment (“Where are you really from?”),
        or a subconscious action (crossing the street to avoid a racialized person).
      </p>
    </div>
  </div>
</div>
