<div class="content">
  <div class="category-card">
    <div class="category-card-content">
      <div class="category-card-side-content">
        <div class="back-to-home">
          <a [routerLink]="['/']">
            {{ 'general.backToHome' | translate }}
          </a>
        </div>

        <div class="category-card-title">
          {{ 'search.title' | translate }}
        </div>

        <div class="category-card-description">
          "{{query}}"
        </div>

        <app-add-new-entry></app-add-new-entry>
      </div>

      <div class="category-card-result-set">
        <div *ngIf="entries.length === 0">
          <img class="no-result" src="assets/images/empty-file.svg" />

          <div class="no-result-text">
            {{ 'search.noResult' | translate }}
          </div>

        </div>

        <app-entry-preview-item [entry]="entry"
          [@enter1]="{ value: '', params: { delay: i * 300 } }"
          *ngFor="let entry of entries; let i = index"
        ></app-entry-preview-item>
      </div>
    </div>
  </div>
</div>
